body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 200px;
    float: left;
    }
.menu{
    float: left;
    padding-left: 332px;
    }
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/frai1.png) 90% 100%/auto 85% no-repeat ,url(../img/Fon.jpg) center/cover no-repeat;
    }
.tetle_conteiner{
    float: left;
    margin: 250px 0px 0px 180px;
    color: #2c384a;
    text-align: center;
}
.tetle_conteiner h1{
    font-size: 60px;
    font-weight: bold;
}
.tetle_conteiner h4{
    margin-top: 30px;
    color: #79818d;
    font-size: 20px;
}
.tetle_conteiner input{
    height: 24px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: #79818d;
    font-size: 12px;
    padding: 2px 8px;
    margin: 30px 14px 0 14px;
}
.To_me{
    width: 100%;
    height: 80%;
    text-align: center;
    margin: 10px;
/*    background: url(../img/frai1.png) 50% 30%/auto 30% no-repeat border-box; */
}
.To_me h3{  
    margin-top: 20px;
    color: #263244;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    background: url(../img/cherta_zag.png) 50% 100%/auto 5% no-repeat;
    margin-bottom: 100px;
}
.tetle_photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

.To_me p{
    padding: 20px;
    width: 700px;
    margin-left: 320px;
    text-align: justify;
    font-size: 10px;
}
.To_me input{
    height: 20px;
    border: 2px solid #79818d;
    background: url(../img/seve1.png) 10% 50%/auto 100% no-repeat;
    border-radius: 5px;
    color: #79818d;
    font-size: 12px;
    text-align: center;
    padding: 4px 10px;
    margin: 30px 16px 0 16px;
}
.I_can{
    width: 100%;
    height: 80%;
    background: url(../img/noyt.png) 13% 55% /auto 10% no-repeat, 
        url(../img/sign.png) 36% 55% /auto 10% no-repeat,
        url(../img/rocket.png) 60% 55% /auto 10% no-repeat,
        url(../img/rup.png) 83% 55% /auto 10% no-repeat,
        url(../img/fon_a_cam.jpg) center/cover no-repeat;
}
.I_can h3{
    color: #263244;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background: url(../img/cherta_zag.png) 50% 100%/auto 5% no-repeat;
    margin-bottom: 280px; 
}
.menu_i_can{
    float: left; 
    padding-left: 100px;
}
.menu_i_can li{
    float: left;
    height: 250px;
    width: 200px;
    line-height: 40px;
    margin-right: 100px;
    border: 4px, solid;
}
.menu_i_can li h5{
    color: #cf7600;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
.menu_i_can li p{
    font-size: 10px;
    text-align: center;
    line-height: 1.3;
}
.cases{
    height: 100%;
    width: 100%;
    background: url(../img/cas_fon.png) 50% 90%/auto 70% no-repeat;
}
.cases h3{
    color: #263244;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background: url(../img/cherta_zag.png) 50% 100%/auto 5% no-repeat;
    margin-bottom: 30px;
}
.cases p{
    text-align: center;
    font-size: 14px;
}
.data_client {
    margin-left: 17%;
    height: 30%;
    width: 20%;
    font-size: 16px;    
    line-height: 1.3;
    float: left;
}
.data_client h5{
    font-size: 20px;
}
.data_client p{
    font-size: 12px;
}
.data_client input{
/*    height: 24px;*/
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    margin: 2px 14px 0 0px;
}
.project_name{
    height: 30%;
    width: 83%;
}
.project_name h4{
    padding-top: 3px;
    font-size: 20px;
}
.project_name p{
    padding-top: 5px;
    font-size: 12px;
}
.cost_calculation{
    margin-left: 25%;
    height: 70%;
    width: 50%;
    background: url(../img/cherta.jpg) 50% 77%/auto 2px no-repeat;
}
.cost_calculation h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px;
}
.cost_calculation h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
#list{
    text-align: center;
    border: 2px solid #eeeeee;
    background: #eee;
/*    border-radius: 5px; */
    color: #a1a1a1;
    font-size: 12px;
    padding: 15px 600px 15px 0px;
    margin: 10px 14px 20px 0px;
}
.cost_calculation p{
    padding: 16px; 
    font-size: 14px;
    line-height: .5;
}
.Statistics{
    height: 70%;
    width: 100%;
    background: url(../img/cherta_zag.png) 50% 20%/auto 1% no-repeat,
        url(../img/smail.png) 20% 50%/ auto 10% no-repeat,
        url(../img/skob.png) 40% 50%/ auto 10% no-repeat,
        url(../img/galk.png) 60% 50%/ auto 10% no-repeat,
        url(../img/kub.png) 80% 50%/ auto 10% no-repeat,
        url(../img/fon_static.jpg) center/cover no-repeat;  
}
.Statistics h3{
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.menu_statistics li{
    padding-top: 17%;
    padding-left: 19%;
    height: 30%;
    width: 20%;
    float: left;
}
.menu_statistics h4{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 16px;
}
.menu_statistics p{
    text-align: center;
    font-size: 14px;
}
.Reviews{
    height: 70%;
    width: 100%;
    padding-top: 20px;
    background: url(../img/cherta_zag.png) 50% 15%/auto 1% no-repeat,
        url(../img/photo_otz.png) 50% 40%/ auto 30% no-repeat;
}
.Reviews h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 280px;
}
.Reviews p{
    padding: 14px 200px 14px 200px;
    font-size: 14px;
    text-align: center;
}
footer {
    height: 100%;
    width: 100%;
    }
.contakt{
    background:url(../img/cherta_zag.png) 50% 15%/auto 1% no-repeat, 
        url(../img/fon_kontakt.jpg) 50% 70%/auto 200% no-repeat;
}
/* не могу развернуть фон нв свю длинну*!!!/